.select {
  $parent: &;
  $select-short: '.select-short';
  cursor: pointer;
  position: relative;

  &#{$select-short} {
    font-size: 0.875rem;
    line-height: 0.95rem;
    border: none;
    border-radius: 4px;

    #{$parent}__current {
      color: #002cfb;
    }
    #{$parent}__box {
      border: none;
      padding: 6px 10px;

      &::after {
        position: static;
        margin-top: -2px;
      }
    }

    #{$parent}__value {
      margin-left: 0;
      font-size: 0.7rem;
      white-space: nowrap;
    }

    #{$parent}__dropdown {
      border: 1px solid #eaf0fa;
      box-shadow: 0px 0px 26px rgba(233, 237, 243, 0.8);
      border-radius: 4px;
    }

    /*     &.select_show {
      border-radius: 4px 4px 0 0;
    } */
  }

  &__hidden {
    display: none;
    pointer-events: none;
  }

  &__box {
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: space-between;

    &::after {
      content: '';
      position: absolute;
      right: 8px;
      top: calc(50% - 4px);
      transform: translateY(-50%);
      padding: 2px;
      border: solid #adbfdf;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }

  &__current {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__dropdown {
    position: absolute;
    flex-direction: column;
    row-gap: 0;
    width: max-content;
    top: 100%;
    right: 0;
    background-color: $color-default-white;
    padding: 0;
    z-index: 10;
    display: none;

    &_show {
      display: flex;
    }
  }

  &__element {
    display: flex;
    align-items: center;
    padding: 6px 20px;
    color: #899cb1;
    font-size: 0.875rem;
    line-height: 1.75rem;

    &:hover {
      background-color: rgba(0, 44, 251, 0.13);
      color: $color-text;
    }

    &:first-of-type {
      color: $color-main-blue;
    }

    &:last-of-type {
      margin: 0px;
    }
  }

  &__list {
    flex-wrap: wrap;
  }

  &__source {
    position: relative;
    background: #ecedef;
    border-radius: 4px;
    padding: 2px 20px 2px 8px;
    font-size: 0.875rem;
    line-height: 1;
    color: $color-light-blue;
    display: flex;
    align-items: center;
    margin-right: 12px;
    margin-bottom: 2px;
  }

  &__close {
    position: absolute;
    width: 10px;
    height: 10px;
    right: 8px;

    &::after,
    &::before {
      content: '';
      height: 10px;
      width: 2px;
    }
  }

  &__value {
    margin-left: 10px;
  }
}

.custom-date {
  display: flex;

  &.select {
    & .select__box {
      padding: 0;

      &::after {
        content: none;
      }
    }

    & .select__dropdown {
      min-width: 104px;
    }
  }
}
